<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>短链接生成器</title>
    <link rel="stylesheet" type="text/css" href="static/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="static/index.css">
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="static/semantic.min.js"></script>
</head>
<body>
    <div id="menu">
        <div class="ui segment">
            <div class="ui stackable menu">
                <div class="item">
                    <i class="big paper plane outline icon"></i>
                </div>
                <a class="active item">短链接生成器 </a>
                <a class="item">免费 </a>
                <a class="item">急速 </a>
                <a class="item">易用 </a>
            </div>
        </div>
    </div>

    <div id="service">
        <div class="ui placeholder segment">
            <h2 class="ui center aligned icon header"><i class="circular users icon"></i> 高性能的分布式短链生成工具 </h2>
            <div id="input">
                <div class="ui large fluid action input">
                    <input type="text" placeholder="请输入http://或https://开头的网址">
                    <div class="ui button">生成</div>
                </div>
            </div>
        </div>
    </div>


    <div id="information">
        <div class="ui segment">
            <h1 class="ui center aligned icon huge header"> 功能特性 </h2>
            <div class="ui center aligned medium header"> 高性能、分布式、毫秒级等待时间 </div>
            <div class="ui center aligned medium header"> 免费体验 </div>
            <div class="ui divider"></div>
            <div class="ui centered four cards" id="information_card">
                <div class="grey card">
                  <div class="content">
                    <div class="center aligned header">链接缩短</div>
                    <div class="center aligned description">将长链接快速转为短链接 </div>
                  </div>
                  <div class="extra center aligned content">
                    <i class="big grey cloud icon"></i>
                  </div>
                </div>
                <div class="orange card">
                  <div class="content">
                    <div class="center aligned header">快速创建</div>
                    <div class="center aligned description">一键快速生成 </div>
                  </div>
                  <div class="extra center aligned content">
                    <i class="big orange hotjar icon"></i>
                  </div>
                </div>
                <div class="red card">
                  <div class="content">
                    <div class="center aligned header">急速跳转</div>
                    <div class="center aligned description">毫秒级链接跳转 </div>
                  </div>
                  <div class="extra center aligned content">
                    <i class="big red space shuttle icon"></i>
                  </div>
                </div>
                <div class="green card">
                  <div class="content">
                    <div class="center aligned header">随时创建</div>
                    <div class="center aligned description">无限制匿名创建链接 </div>
                  </div>
                  <div class="extra center aligned content">
                    <i class="big green child icon"></i>
                  </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>