#menu {
    width: 1200px;
    margin: auto;
}

#service {
    width: 1200px;
    margin: 50px auto auto;
}

#input {
    width: 800px;
    margin: auto;
}

#information {
    width: 1200px;
    margin: 50px auto auto;
}

#information_card {
    margin: 30px;
}

#result {
    width: 800px;
    margin: 30px auto auto;
}

.common {
    width: 1200px;
    margin: auto;
}

